[submodule "stdpp"]
	path = external/stdpp
	url = https://gitlab.mpi-sws.org/iris/stdpp.git
[submodule "iris"]
	path = external/iris
	url = https://gitlab.mpi-sws.org/iris/iris.git
[submodule "record-update"]
	path = external/record-update
	url = https://github.com/tchajed/coq-record-update
[submodule "paco"]
	path = external/paco
	url = https://github.com/snu-sf/paco.git
[submodule "actris"]
	path = external/actris
	url = https://gitlab.mpi-sws.org/iris/actris.git
[submodule "external/trillium"]
	path = external/trillium
	url = https://github.com/logsem/trillium.git
