name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    # every day at 9am UTC
    - cron: "0 9 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        coq_version:
          - '8.15.2'
      max-parallel: 4
      # don't cancel all in-progress jobs if one matrix job fails:
      fail-fast: false

    steps:
    - name: Check out code
      uses: actions/checkout@v2
      with:
        submodules: true
    - uses: coq-community/docker-coq-action@v1
      with:
        coq_version: ${{ matrix.coq_version }}
        ocaml_version: "4.14.0-flambda"
        before_script: |
          sudo chown -R coq:coq . # workaround a permission issue
        script: |
          startGroup Build
            make -j2
          endGroup
        uninstall: |
          make clean
    - name: Revert permissions
      # to avoid a warning at cleanup time
      if: ${{ always() }}
      run: sudo chown -R 1001:116 .
